@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( to right, white, blue 
}
 
main{
    background-color: white;
    border-radius: 20px;
    width: 250px;
    padding: 10px;
    margin: auto;
}
h1{ 
    color: #126e51 ;
    text-align: center;
    text-shadow:1px, 1px, 2px black;
}
h2{ color: #126e5180;

}
p{
    text-align: justify;
}